//global
$app-background-gray: #FAFAFA;

// SessionForm
$button-blue: #4F97E9;
$input-yellow: #FCFEC4;
$box-background-gray: #FFFFFF;
$box-border-gray: #e6e6e6;
$link-blue: #3897f0;
$text-light-gray: #999;
