body {
  background: $app-background-gray;
}
.session_form {
  position: relative;
  font-family: $default-font;
  max-width: 350px;
  margin: 0 auto;

  .session_inputs {
    padding: 40px 5px;
  }

  .session_logo_text h3 {
    font-size: 40px;
    font-family: $pacifico;
    width: 100%;
    text-align: center;
  }
  .session_logo_text h2 {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    font-family: $default-font;
    margin: 0 40px 6px;
    text-align: center;
    color: $text-light-gray;
  }
  .main_session_box {
    height: 400px;
    background-color: $box-background-gray;
    border: 1px solid $box-border-gray;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    height: 400px;


    .inputs {
      width: 100%;
      margin: 0 auto;
    }

    .username_input {
      font-size: 12px;
      background: $app-background-gray;
      border: 1px solid $box-border-gray;
      border-radius: 1px;
      overflow: hidden;
      margin: 0 40px 6px;
      padding: 12px 0px 12px 12px;
      text-overflow: ellipsis;

    }

    .password_input {
      font-size: 12px;
      background: $app-background-gray;
      border: 1px solid $box-border-gray;
      border-radius: 1px;
      overflow: hidden;
      margin: 0 40px 6px;
      padding: 12px 0px 12px 12px;
      text-overflow: ellipsis;

    }

    .submit-button {
      background: $link-blue;
      color: $box-background-gray;
      border-radius: 1px;
      border-radius: 3px;
      border: 1px solid $link-blue;
      font-size: 14px;
      font-weight: 600;
      line-height: 26px;
      outline: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      margin: 12px 40px 6px;
    }

    .or-box {
      margin: 10px;
      text-align: center;
    }

  }

  .alternative_session_option {
    display: flex;
    justify-content: center;
    background-color: $box-background-gray;
    border: 1px solid $box-border-gray;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 12px 0px;
    text-align: center;

    .question-option {
      padding-left: 5%;
    }
  }

}
