.comments {
  font-family: $default-font;
  color: #262626;
  padding-left: 16px;
  font-size: 14px;
  position: relative;

  .comments-ul {

    li {
      display: flex;
      overflow: hidden;
      padding-bottom: 6px;
      position: relative;
      word-wrap: break-word;
      margin-top: -5px;
      padding-top: 5px;
      line-height: 18px;
      justify-content: space-between;

      .comment-details {
        display: flex;
        h1 {
          margin-right: .3em;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-left: 5px;
          margin-left: -5px;
        }
      }

      .hidden {
        visibility: hidden;
      }

      button {
        color: #999;
        padding-right: 10px;
      }
      button:hover {
        font-weight: bold;
      }
    }
  }

  .time-stamp {
    font-family: $default-font;
    color: #999;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2px;
    line-height: 18px;
    margin-bottom: -5px;
  }

  form {
    margin-top: 30px;
  }
  .comment-body-input {

    padding: 16px 0px 16px;
    margin-top: 4px;
    border-top: 1px solid #efefef;
    color: #999;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    width: 100%;

    input {
      width: 100%;
    }
  }

  .comment-submit-btn input {
    visibility: hidden;
  }
}
