// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-like-button {
  display: flex;
  margin-left: 8px;
  padding: 8px;
  font-size: 24px;

  button {
    padding-right: 10px;
  }

  .true {
    button {
      color: red;
    }
  }

  .false {
    button {
      color: #262626cf;
    }
  }



}
