.photo-show {
  padding: 135px;
}

.photo-show-container {
    transform: translateY(135px);
    box-sizing: content-box;
    width: calc(100% - 40px);
    margin: 60px auto 30px;
    max-width: 935px;
    display: flex;
    font-family: $default-font;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 935px;
    overflow: hidden;
    width: 100%;

  .photo-show-image {
    img {
      max-width: 600px;
    }
  }

  .photo-show-sidebar {
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    right: 0;
    top: 30px;
    width: 335px;

    .like-count {
      font-family: $default-font;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #262626;
      padding-bottom: 8px;
      margin-left: 16px;
    }

    .photo-show-avatar {
      height: 100px;
      border-bottom: 1px solid #dbdbdb;

      button {
        display: block;
        position: relative;
        background-color: $app-background-gray;
        border: 1px solid $box-border-gray;
        border-radius: 3px;
        height: 2em;
        cursor: pointer;
        padding: 0 24px;
        margin: 5px 5px 5px 25px;
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
        outline: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto;
        padding-bottom: 5px;
      }
    }
  }
}
