.photo-feed-container {
  padding-top: 135px;
  display: flex;
  flex-flow: row nowrap;
  max-width: 935px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;

  .photo-feed-ul {
    float: left;
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
    align-items: stretch;
    display: flex;
    position: relative;
    vertical-align: baseline;
    flex-direction: column;
    padding-bottom: 6596.2px;
    padding-top: 0px;


    .photo-feed-li {
      max-width: 600px;
      margin-bottom: 60px;
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      margin-left: -1px;
      margin-right: -1px;

      img {
        width: 100%;
        height: auto;
      }

      .like-count {
        font-family: $default-font;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #262626;
        padding-bottom: 8px;
        margin-left: 16px;
      }

    }
    .avatar {
      padding: 20px;
      margin: 0;

      .avatar-profile-picture {
        margin-right: -27px;

        img {
          transform: translate(-4.5px, -4.5px);
          top: 0px;
          left: 0px;
          width: 30px;
          height: 30px;
          border: 1px solid $box-border-gray;
          border-radius: 50%;
        }
      }
    }

  }
}


.user-avatar {
  width: 300px;
  height: 100vh;

  .avatar {
    position: fixed;
    border-bottom: 1px solid $box-border-gray;
  }
}
